body {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

div {
    border: solid black 1px;
    height: 38px;
    width: 38px;
}

.container {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-content: center;
    width: 640px;
    height: 640px;
}